<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <!-- Home and About -->
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/about/">About</a>
    <!--Statically maintained notes menu-->
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/category/spanish">Spanish Study Notes</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/category/utlk">Understanding the Linux Kernel</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
