<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <!-- Home and About -->
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/about/">About</a>

    {% comment %}
      List only Spanish and UTLK posts for now because that's what we have so far.
    {% endcomment %}

    {% assign spanish_posts = site.categories.spanish | sort:"url" %}
    {% for post in spanish_posts %}
      <a class="sidebar-nav-item{% if post.url == page.url %} active{% endif %}" href="{{ post.url }}" >{{ post.title }}</a>
    {% endfor %}

    {% assign utlk_posts = site.categories.utlk | sort:"url" %}
    {% for post in utlk_posts %}
      <a class="sidebar-nav-item{% if post.url == page.url %} active{% endif %}" href="{{ post.url }}" >{{ post.title }}</a>
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
